{% extends "layout.html" %}

{%block title%}

Agregar orden

{% endblock%}

{% block main%}

<div class="orden-box">
    <div class="caja">
    {% for platillo in platillos %}
            {% if platillo.imagen %}
            <img src="/media/{{platillo.imagen}}" class="imagen" alt="">
            {% endif %}
            <div class="form-group">
                <h5 class="card-title">{{platillo.nombre}}</h5>
                <h2>${{platillo.precio}}</h2>
                <a href="/agregarAlCarrito/{{platillo.id}}" class="btn btn-primary">Agregar al carrito</a>
            </div>
        
    {% endfor %}
</div>
</div>

{% endblock%}