{% extends "layout.html" %}

{%block title%}

Login

{% endblock%}

{% block main%}
<div class="login-box">
    <div class="caja" id="login" align="center">
        <form class="form" method="post">
            
            <img class="icon" src="static/imagenes/icono.png"/>

            {% csrf_token %}

            {{ form.as_p }}

            <div class="form-group" align="center">
                <button class="submit" type="submit">Iniciar sesion</button>
            </div>

        </form>
        <div id="formFooter">
            <a href="/register">¿No tienes una cuenta?</a>
        </div>
    </div>
</div>
{% endblock%}